		/* Overide theme styles */
		#nav-search-input { width: 230px; border:0px;}
		.sidebar { width: 300px; }
		.main-content { margin-left: 300px; }
		.nav-list>li>.submenu:before, .nav-list>li>.submenu>li:before { 
			border: none; 
			padding:6px;
		}
		.nav-list>li .submenu>li { padding: 12px; }
		.nav-list>li>a {
			height: 24px;
			line-height: 24px;
		}

		.sidebar:before {
			border: none;
			background-color: #fff;
		}
		.price-ddl-sm { width: 60px; }
		.price-ddl { width: 120px; }
		.price-ddl-lg { width: 240px; }

		#slider-range { margin: 12px 0px 12px 24px; }

		.input-xs { width: 60px; }

		#expand-search-btn {
			width: 66px;
			height: 35px;
		}

		.input-icon { 
			top: 4px;
			left: 10px; 
		    border-bottom: 1px solid #ddd;

		}

		#moreMenuOptions { 
			position: absolute;
			width: 600px;
			height: 300px;
			left: 300px;
			top: 35px;
			background-color: #fff;
			border: 1px solid #ccc;
			z-index: 1;
			border-top: 0px;
		}

		.sm-text-input { width:120px;float:left; }
		.cal-icon { width: 20px;height: 34px; }
		.push-left { margin-left:30px;}
		.moreOptionsLink { padding-left:24px; width:100%; }
		.nav-list>li.active:after { border:none;}
		.w120 { width: 120px;}

		.inl-block {display:inline-block;}
		.x-icon {color:#333;float:right;margin-right:18px;font-weight:bold;display:none;z-index:10;}
		.prop-text { color: #555;padding-left:18px;font-family:sans-serif;font-size:11px;font-weight:bold;}