		/* Overide theme styles */

		#nav-search-input { border: 1px solid #ccc;
							width: 246px;
							text-align:right;

						  }

		.sidebar { width: 300px; }
		.main-content { margin-left: 310px; background: url( "../img/bg.jpg" );}
		.nav-list>li>.submenu:before, .nav-list>li>.submenu>li:before { 
			border: none; 
			padding:6px;
		}
		.nav-list>li .submenu>li { padding: 12px; }
		.nav-list>li>a {
			height: 24px;
			line-height: 24px;
			font-weight: bold;
		}

		.sidebar:before {
			border: none;
			background-color: #fff;
		
	   background-repeat: repeat;
		}
		.price-ddl-sm { width: 60px; }
		.price-ddl { width: 120px; }
		.price-ddl-lg { width: 240px; }

		#slider-range { 
			margin: 12px 0px 12px 24px;
			height:6px !important;
			border: 1px solid #bbb;
			border-radius: 3px;
		}

		#slider-range-year-built {margin: 12px 0px 12px 24px; }

		.input-xs { width: 60px; }

		#expand-search-btn {
			width: 78px;
			height: 35px;
		}

		#moreMenuOptions { 
			position: absolute;
			width: 600px;
			height: 300px;
			left: 302px;
			top: 78px;
			background-color: #fff;
			border: 1px solid #ccc;
			z-index: 1;
			border-top: 0px;
			border-left:0px;
		}

		.sm-text-input { width:120px;float:left; }
		.cal-icon { width: 20px;height: 34px; }
		.push-left { margin-left:30px;}
		.moreOptionsLink { padding-left:24px; width:100%; }
		.nav-list>li.active:after { border:none;}
		.w120 { width: 120px;}

		.inl-block {display:inline-block;}
		.x-icon {
			color:#333;
			float:right;
			margin-right:-6px;
			font-weight:bold;
			display:none;
			z-index:10;
			font-size:10px;
			display:block;
		}
		.prop-text {
			color: #555;
			padding-left:18px;
			font-family:sans-serif;
			font-size:11px;
			font-weight:normal;
			text-transform: none;
			margin-right:-12px;
		}
		#navbar {margin-bottom: 12px;}
		#search-tab-content { padding:1px 0px 0px 0px;}

		.results-address {font-weight:bold;font-size:1.0em; color: #333; }
		.results-price { font-size:1.2em;font-weight:bold; margin:10px 12px 0px 122px;font-family:sans-serif;padding-top:3px;color:#333;}
		.results-property { width:298px;padding:12px; background-color:#fff; }
		.results-property-info { float:right;margin-right:9px;}
		.results-property-info span { text-align: center;display:inline-block;color:#333; }
		.results-property-info hr { margin:0px;color:#ccc; }
		.results-detail-btn {	float:right;
								height: 36px;
								width: 100px;
								font-size: 12px;
								margin:12px 12px 0px 0px;
								border-radius: 12px;

							}
		.results-property-info a { color:#333 !important;margin-top:12px; }
		/* Results scroller */
		#results-tab { max-height: 545px; overflow-y: scroll;overflow-x: hidden; }
		::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 12px;
		}
		::-webkit-scrollbar-thumb {
		    border-radius: 4px;
		    background-color:#9ACAFF;
		    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
		.alt-property { background-color:#eee; }

		.linearbg {
				 /* fallback */
				 /* background-color: #aaa;
				  background: url(images/linear_bg_2.png);
				  background-repeat: repeat-x;
					*/
				  /* Safari 4-5, Chrome 1-9 */
				  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ACAFF), to(#fff));

				  /* Safari 5.1, Chrome 10+ */
				  background: -webkit-linear-gradient(top, #EDF6FF, #80BCFF);

				  /* Firefox 3.6+ */
				  background: -moz-linear-gradient(top, #fff, #9ACAFF);

				  /* IE 10 */
				  background: -ms-linear-gradient(top, #fff, #9ACAFF);

				  /* Opera 11.10+ */
				  background: -o-linear-gradient(top, #fff, #9ACAFF);
				}
		#sorting-control-span, .linearbg-dark {
				 /* fallback */
				 /* background-color: #aaa;
				  background: url(images/linear_bg_2.png);
				  background-repeat: repeat-x;
					*/
				  /* Safari 4-5, Chrome 1-9 */
				  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(111, 179, 224)), to(#fff));

				  /* Safari 5.1, Chrome 10+ */
				  background: -webkit-linear-gradient(top, #fff, rgb(111, 179, 224));

				  /* Firefox 3.6+ */
				  background: -moz-linear-gradient(top, #fff, rgb(111, 179, 224));

				  /* IE 10 */
				  background: -ms-linear-gradient(top, #fff, rgb(111, 179, 224));

				  /* Opera 11.10+ */
				  background: -o-linear-gradient(top, #fff, rgb(111, 179, 224));
				}
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus ,.linearbg-reverse {
		 /* fallback */
		 /* background-color: #aaa;
		  background: url(images/linear_bg_2.png);
		  background-repeat: repeat-x;
			*/
		  /* Safari 4-5, Chrome 1-9 */
		  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#9ACAFF));

		  /* Safari 5.1, Chrome 10+ */
		  background: -webkit-linear-gradient(top, #80BCFF, #EDF6FF);

		  /* Firefox 3.6+ */
		  background: -moz-linear-gradient(top,  #9ACAFF,#fff);

		  /* IE 10 */
		  background: -ms-linear-gradient(top,  #9ACAFF,#fff);

		  /* Opera 11.10+ */
		  background: -o-linear-gradient(top,  #9ACAFF,#fff);
		}

.font12 { font-size: 12px;}

.results-property span img { margin:14px 0px 48px 0px;height:90px;border: 3px solid #fff;}


.property-spans { margin:12px 0px 0px 7px;width:108px; }
/*sidebar override*/
.sidebar { background-color:#fff;border:0px;margin-top: 5px; }
.tab-content { border: 0px;border-right: 3px solid #9ACAFF; box-shadow: 3px 3px 3px}
.breadcrumbs { background-color: #fff;border-bottom: none;}
.tabbable { width: 303px; border-left:1px solid #9ACAFF;border-bottom:2px solid #9ACAFF;border-radius:3px;}
.navbar {display:none;}
.details-table {margin: 0px 0px 0px 0px; font-size:12px;}
.details-table td {padding: 2px; border:2px solid #fff;font-weight: bold;font-family:sans-serif;}


.details-table .tl { padding:0px 0px 4px 6px;border-top:0px;border-left:0px; }
.details-table .tr { padding:0px 6px 4px 0px;border-top:0px;border-right:0px; }
.details-table .bl { padding:5px 0px 0px 6px;border-bottom:0px;border-left:0px; }
.details-table .br { padding:5px 6px 0px 0px;border-bottom:0px;border-right:0px; }
#map-canvas { min-height:516px;max-width:670px;
			border-left:3px solid #9ACAFF;
			border-right:3px solid #9ACAFF;
			border-bottom:3px solid #9ACAFF;
			border-radius:3px;
			border-top-left-radius:0px;
			border-top-right-radius:0px;
			box-shadow: 3px 3px 3px;
		}
.main-container { 
/*background: url("../images/cubes.png");
	   background-repeat: repeat;*/
	   background: url( "../img/bg.jpg" );
	   padding-top:30px;
	 }
.tdspanl{padding-right:6px;}
.tdspanr{padding-left:6px;}
body{font-family:sans-serif;margin-left: 80px;background: url( "../img/bg.jpg" );}
.page-content{ padding-top:0px; }
#ui-datepicker-div { display:none;}
.viewing-count {
	color: #333;
	position: fixed;
	width: 302px;
	background-color: white;
	padding: 6px;
	padding-right:0px;
	border-bottom:1px solid #eee;
	font-weight:bold;
}
.active .primary-search-li { padding:18px 0px 18px 0px;height:78px; }
#mls-search-icon {  }
#search-tab-link { border-bottom:3px solid #EDF6FF;margin-right: 3px;border-left:0px;}
#results-tab-link { background-color: #69c; color: #333;  }
.nav-tabs>li {margin-bottom:-1px;}
.first { margin-top:30px; }
.nav-list>li>a, .breadcrumb>li, .breadcrumb>li.active { color:#333;background-color:#fff; }
.breadcrumb{ margin-left:30px; }
.map-icon-row { 
	width:94px;
	padding:0px 0px 0px 8px;
	font-size:1.2em;
	background-color:#9ACAFF;
	margin-top:4px;
	box-shadow: 3px 3px 3px;
	}
.home-icon { padding: 12px 0px 0px 12px; }

#listings-displayed-row { width:670px;height:32px;box-shadow: 3px 3px 3px}
.listings-showing-on-map { margin-left: 12px;line-height:36px; }
.nav-list>li.open>a { background-color:#EDF6FF; }
.nav-list>li .submenu { 
	border-top:none;
	background-color:#EDF6FF;
}
#additional-li { border-top:none; #color:333;font-weight:bold;min-height: 30px;
padding-top: 6px; font-weight: bold; } 
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  { border:none;font-weight:bold; }
.nav-tabs { border-bottom:0px; }
.advanced-search-link { color: #428bca; float:right; padding-top:3px;margin-right: 30px;}
.advanced-search-link:hover { cursor:pointer; text-decoration: underline; }

.mls-search-span { margin-left:12px; }
.icon-search { background-color:#fff;padding: 5px 6px 3px 3px;
border: 1px solid #ccc;
border-left: 0px; }
.icon-search:hover { cursor:pointer; }
#my-tab { width:560px; }
#advanced-search-tabs { width:600px;min-height:300px;border-left:0px; }
.btn { border-radius: 6px; }
.ui-slider .ui-slider-handle { 
	width: 10px; 
	border-radius: 5px; 
	top:-7px; 
}

.input-sm { font-size: 14px;color:#333;background-color:#fff; }
input[readonly] { 
	color: #333;
	background: #fff !important;
	font-size:15px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999; 
}

.slider-margin { margin: 12px 0px 12px 24px;
height: 6px !important;
border: 1px solid #bbb;
border-radius: 3px; }
#viewing-span { color:#047;font-weight:bold; }
#sorting-control-span { 
	font-weight:bold;
	margin-left: 68px;top: 66px;
	left: 198px;
	border-left: 1px solid #aaa;
	padding: 8px; 
	position: fixed;
	top:67px;
	left:198px;
}
#sort-by-setting { font-weight:normal; font-size:9px; }
input[type="checkbox"].ace + .lbl, input[type="radio"].ace + .lbl { }
.nav-list>li.open>a>.arrow,.nav-list>li>a>.arrow {font-size:.9em;}
.nav-list>li a>.arrow { 
	left: 6px;
	top:7px; 
}
.nav-list>li>a>[class*="icon-"]:first-child {margin-left:6px;margin-right:-5px;}
.nav-list>li.open>a>.menu-text>.x-icon{ color:red; }

.nav-list>li.open>a>.menu-text>.prop-text { font-size:0px;}
.nav-list>li>a>.menu-text>.prop-text { float:right;}
.nav-list>li>a>.menu-text>.x-icon { color:#fff;margin-right:-6px;}

.main-container-inner { background: url( "../img/bg.jpg" ); }
.blue-bg {background: url( "../img/bg.jpg" );}
.nav-tabs > li > a, .nav-tabs > li > a:focus { background-color:#69c;color:#333; }
.nav-tabs > li > a, .nav-tabs > li > a:hover { background-color:#69c;color:#333; }
.nav-tabs > li:first-child > a { background-color:#69c; color:#333; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border-bottom:4px solid #EDF6FF; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:hover { color:#333;} 
input[type="text"]:disabled { background: #feb;color:#333; }
.icon-reply { color:#333; }
.black-text { color:#333; font-weight:bold; }
.delete-button { 
	margin: 5px 0px 0px -6px;
	padding: 4px 9px 16px 9px;
	background-color: #fff;
	height: 20px;
	border: 1px solid #ccc; color:red;
	cursor:pointer;
	min-height: 26px;
}
.delete-button span { 
	margin-bottom: 3px;
	color:#333;
	font-weight:bold;
}
.delete-shape-div { font-size:10px;padding-bottom: 3px; }
#advanced-search-tabs .tab-content { box-shadow:none; }
 
.ui-slider-range{ background-color:#0079FF; }
.caps-text { text-transform: uppercase; }
.menu-text { font-size:.9em;}
.nav-list li.active>a:after { border:none; }
#advanced-search-tabs li { margin-right:3px;top:-1px; }
#advanced-search-content { }
.hidden-advanced-content { display:none; }
.show-advanced-content { display:block;background-color:#fff;margin-top:150px; }
.w800 { 
	width: 800px;
 }
.w299 { width:299px; }
#properties-ul {  }
#advanced-search-content{ 
	background-color:#fff;
	background-color: #fff;
	min-height: 300px;
	position: fixed;
	z-index: 1;
	left: 380px;
	top:68px;
	width:600px;
}
#advanced-search-header { 
	min-height: 79px;
	border-bottom: 1px solid #ddd;
}























