@model IEnumerable<real_estate_app.Models.StateCountyCity>
@{
    Layout = null;
}
<option value="0">All</option>
@foreach (var item in Model)
{
    if (Request.QueryString["state"] ==  "PA")
    {
        if(item.State == "PA") 
        {
            <option value="@item.County">@item.County</option>        
        }
    }
    else if (Request.QueryString["state"] ==  "NJ")
    {
        if(item.State == "NJ") 
        {
            <option value="@item.County">@item.County</option>       
        }
    } 
}